.book-preview-container { 	
	display: none;
	
}

.book-preview-container img {
	height: 250px;
	width: auto;
}

.right-column {
	display: block;
	width: 25%;
	float: right;
	padding-bottom: 25px;
}

.preview-item, .registration-item, .popup-item {
	display: table-row;
	padding-bottom: 10px;
}

.preview-item label, .registration-item label, .popup-item label{
	width:200px;
	display: inline-block;
	margin-bottom: 10px;
}

.preview-item input, .add-book-container input, .registration-item input{
	border-radius: 3px 3px 3px 3px;
	width: 610px;
}

.preview-item textarea {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    display: inline-block;
    padding: 6px;
    vertical-align: middle;
	overflow: auto;
	width: 600px;
	height: 120px;
	margin-bottom: 10px;
}

.refresh_add_book{
	display: none;
	margin-bottom: 20px;
}

.refresh_add_book{
	font-size: 12px;
}

#btn_refresh_inf{
	width: 20px;
	height: 20px;
}

#loading {
    position: absolute;
    left: 50%;
    top: 50%;
}