/* Header */
#header {
	text-align: center;
	position: relative;
	padding-bottom: 24px;
	padding-top: 10px;
	margin: auto;
	width: 90%;
	height: 70px;
	display: block;
}

#header .main_menu{
	text-align: center;
	font-size: 18px;
	font-family: Verdana, sans-serif;
}

#header .main_menu img {
	margin-left: 10px;
	margin-right: 24px;
	height: 70px;
	width: 70px;
	float: left;
}

#header .main_menu a,form, #welcome {
	margin-right: 24px;
	float: left;
}

#header .main_menu .search-sections{
	padding-top: 30px;
}
	
#header .main_menu .login, #header .main_menu .logout {
	float: right;
	width: 20%;
}


#page-content , #login{
	text-align: left;
	position: relative;
	padding-bottom: 24px;
	padding-top: 10px;
	margin: auto;
	width: 90%;
	display: block;
	font-family:"Times New Roman",Times,serif;
}

.add_book{
	margin-bottom: 25px
}

/*Book's and User's lists*/
.list {
    display: block;
    width: 50%;
    float: left;
    padding-bottom:25px;
}

.list img, .book-user-list .userItem img{
	height: 70px;
	width: 70px;
	margin-right: 25px;
	vertical-align: middle;
	float:left;
}

.list .list-item{
	display: table-row;
	vertical-align: middle;
}

.left-column{
	display: block;
    width: 25%;
    float: left;
    padding-bottom:25px;
}

/*Book page*/
.book-item{
	display: table-row;
	vertical-align: middle;
}

.book-info .book-user-list .userItem{
	display: block;
    width: 10%;
    float: left;
    padding-bottom:25px;
}

/* User profile */
#profile_header {
	padding: 20px;
}

#profile_header img{
	margin-left: 10px;
	margin-right: 24px;
	width: 70px;
	height: auto;
	float: left;
}

.title_items{
	font-size:25px;
	padding:20px;
}

.user_inf{
	float:left;
	margin-left:100px;
	border-color:#F5F5F5;
	border-style:solid;
	margin-right:25px;
	width: 600px;
	font-size:14px;
}

.add_book_to_list{
	float:right;
	margin-right: 200px;
}

.add_list_popup {
  background-color:#FFFFFF;
  border:1px solid #999999;
  display:none;
  margin-top: 25px;
  margin-right:-80px;
  text-align:left;
  width:400px;
  padding: 25px 25px 20px;
  float:right;
}

/*Footer*/
#footer {
	text-align: left;
	margin: 30px 100px;
	width: 90%;
	height: 50px;
	display: inline-block;
}


