#{extends 'main.html' /} #{set title:'Book | BookHunter' /}

<div id="page-content">
	<div class="left-column">
		<img src="@{Application.image(bookItem.getImageName(), true)}"/>
	</div>
	
	<div class="book-info" id="book-info">
		<span class="book-item">${bookItem.author.fullName}</span> 
		<span class="book-item">${bookItem.title}</span>
		<span class="book-item">${bookItem.description}</span>	
		<span class="book-item"><a href="${bookItem.bookUrl}" target="_blank">Amazon</a></span>	
		
		<h4>Users list:</h4>
		<div class="book-user-list">
		#{list items:bookItem.getUsers(), as: 'user'}
			<span class="userItem"><a href=""><img src="@{Application.image(user.imageName, false)}"></img></a></span>
		#{/list}
		</div>
	</div>
</div>

