#{extends 'main.html' /} 
#{set title:'Book | BookHunter' /}
#{set 'moreScripts'}
  #{script 'jquery.book_addToList.js' /}
#{/set}

<div id="page-content">
	<div class="left-column">
		<img src="@{Application.image(bookItem.getImageName(), true)}"/>
	</div>

	#{if session.username}
	<div class="add_book_to_list">
		<button type="button" id="btn_add_to_list">&{'book_add_list'}</button>
	</div>
	
	<div class="add_list_popup">
	#{form @Books.addBookToUserList(bookItem.getId(), session.username), id: 'add_user_list', enctype: 'multipart/form-data'}
	<span class="popup-item"> 
	<label for="select_user-list">&{'book_popup_select_title'}</label>
			#{select 'select_user_list', value:'Already Read', id:'select_user_list'} 
				#{option 'Already Read'}&{'book_popup_select1'}#{/option} 
				#{option 'Going To Read'}&{'book_popup_select2'}#{/option} 
			#{/select} 
	</span>
	
	<input type="submit" value="&{'book_popup_btn_add'}" id="add_to_list"></input>
	<button type="button" id="cancel_add">&{'book_popup_btn_cancel'}</button>
	
	#{/form}
	</div>
	#{/if}
	
	<div class="book-info" id="book-info">
		<span class="book-item">${bookItem.author.fullName}</span> 
		<span class="book-item">${bookItem.title}</span> 
		<span class="book-item">${bookItem.description}</span>
		<span class="book-item"><a href="${bookItem.bookUrl}" target="_blank">Amazon</a></span>

		<div class="book-user-list">
			#{if !bookItem.getUsers().isEmpty()}
			<h4>&{'book_user_list'}</h4>
			
			#{list items:bookItem.getUsers(), as: 'user'} 
			<span class="userItem">
				<a href=""><img src="@{Application.image(user.imageName, false)}"></img></a>
			</span>
			#{/list} 
			#{/if}
		</div>
	</div>
</div>

