#{extends 'main.html' /} 
#{set title:'Books list | BookHunter' /}

<div id="page-content">
	<h2>&{'books_title'}</h2>

	#{if session != null && session.username}
	<div class="add_book">
		<a href="/add"><button type="button">&{'books_add_new'}</button></a>
	</div>
	#{/if} 
	
	#{paginate.list items:paginatorBooks, as:'book'}
	<div class="list">
		<img src="@{Application.image(book.getImageName(), false)}" /> 
		<span class="list-item">${book.author.fullName}</span> 
		<span class="list-item"><a href="/book/${book.id}">${book.title}</a></span>
	</div>
	#{/paginate.list} #{paginate.controls items:paginatorBooks /}
</div>


