#{extends 'main.html' /}
#{set title:'About | BookHunter' /}

<div class="header" >
	<div class="logo">
		<img src="public/images/logo.jpg" alt="Logo"></img>
	</div>
	
	<div class="search">
		<a href="">Books</a> &nbsp;
		<a href="/peoples">Peoples</a>
		<form action="" method="get">
			<input type="text" name="fsearch">
			<input type="submit" value="Submit"> &nbsp;
		</form>
	</div>
	
	<div class="login">
		<a href="">Log in</a></div> &nbsp;
		<a href="">Registration</a>
	</div>
	
	<div class="content">
	<h2>A few words about BookHunter</h2>
	</div>
</div>