#{extends 'main.html' /} #{set title:'Login | BookHunter' /}

<div id="header">
	<div class="main_menu">
		<img src="public/images/logo.jpg" alt="Logo"></img> <a href="/books">Books</a>
		<a href="/peoples">Peoples</a>
		<form action="" method="get">
			<input type="text" name="fsearch"> <input type="submit"
				value="Submit"> &nbsp;
		</form>

		<div class="login">
			<a href="/login">Log in</a> <a href="/registration">Registration</a>
		</div>
	</div>
</div>

<div id="page-content">
	<h2>Login page</h2>
	<div class="content">
		<form class="login-form" method="post">
			<ul class="items">
				<li class="item"><span class="caption">Login</span> <input
					class="field" type="text" required="required" tabindex="1"
					placeholder="login" name="login"></li>
				<li class="item"><span class="caption">Password</span> <input
					class="field" type="password" required="required" tabindex="2"
					placeholder="password" name="password"></li>
			</ul>
		</form>

		<a href="">Registration</a> <a href="">Password recover</a>
	</div>
</div>

<div id="footer">
	<a href="">Private Policy</a> <a href="">About</a> &copy BookHunter
	2013
</div>