#{extends 'main.html' /} #{set title:'Peoples list | BookHunter' /}

<div id="header">
	<div class="main_menu">
		<img src="public/images/logo.jpg" alt="Logo"></img> <a href="/books">Books</a>
		<a href="/peoples">Peoples</a>
		<form action="" method="get">
			<input type="text" name="fsearch"> <input type="submit"
				value="Submit"> &nbsp;
		</form>

		<div class="login">
			<a href="/login">Log in</a> <a href="/registration">Registration</a>
		</div>
	</div>
</div>

<div id="page-content">
<h2>Peoples</h2>

#{if users}
Username: ${users.username}
UserInf: ${users.userInf}
#{/if}
</div>

<div id="footer">
	<a href="">Private Policy</a> <a href="">About</a> &copy BookHunter
	2013
</div>