<html>
<head>
<title>#{get 'title' /}</title>
<meta charset="${_response_encoding}">
<link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/play-pagination.css'}"> 
<link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/addbook.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png" href="@{'/public/images/logo.jpg'}">
<script type="text/javascript" src="@{'/public/javascripts/jquery-1.6.4.min.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript" src="http://ajax.microsoft.com/ajax/jQuery.Validate/1.6/jQuery.Validate.min.js"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.add-book.js'}" charset="${_response_encoding}"></script>
<script type="text/javascript" src="@{'/public/javascripts/jquery.script.js'}" charset="${_response_encoding}"></script>
#{get 'moreStyles' /}
</head>
<body>
	<div id="header">
		<div class="main_menu">
			<a href="@{Application.index()}"><img src="/public/images/logo.jpg" alt="Logo"></img></a>
			<div class="search-sections">
				<a href="@{Books.books()}">&{'header_books_link'}</a> <a href="@{Users.users()}">&{'header_users_link'}</a>
				#{form @Books.books()} <input type="text" name="searchKey">
				<input type="submit" value="Search"> #{/form}
			</div>

			#{if session.username}
			<div class="logout">
				<a id="profile_link"href="@{Users.profile(session.username)}">${session.username}</a>
				<a href="@{Secure.logout()}">&{'header_logout_link'}</a> 
			#{/if} 
			#{else}
				<div class="login">
					<a href="@{Secure.login()}">&{'header_login_link'}</a> 
					<a href="@{Users.registration()}">&{'header_registration_link'}</a>
				</div>
			#{/else}

			</div>
		</div>
	</div>


	#{doLayout /}

	<div id="footer">
		<a href="@{Application.about()}">&{'footer_about_link'}</a>
		&copy &{'footer_copyright'}

	</div>
</body>
</html>
